@font-face {
    font-family: 'mortal_kombat_2mortal_kombat';
    src: url('../fonts/mk2-webfont.eot');
    src: url('../fonts/mk2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mk2-webfont.woff') format('woff'),
         url('../fonts/mk2-webfont.ttf') format('truetype'),
         url('../fonts/mk2-webfont.svg#mortal_kombat_2mortal_kombat') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
  background-color: black;
  height: 100%;
}

.clearfix:after {

  display: block;
  clear: both;
  content: "";
}

.clear {
  clear: both;
}


* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}



#main {
  background-image: url('../images/background-japan.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1400px;
  position: absolute;
  height: 650px;


}

#health-bar-wrapper {
  width: 1100px;
  display: block;
  height: 130px;
  margin: 0 auto;
}

#KO {
  font-size: 300%;
  font-family: 'mortal_kombat_2mortal_kombat';
  display: inline-block;
  position: relative;
  top: 45px;
  left: 20px;
  color: white;
}

.health-bar-left {
  width: 500px;
  height: 40px;
  border: 2px solid white;
  float: left;
  margin-top: 40px;
  border-radius: 4px;
  background-color: #F8F500;
  padding-right: 200px;
  -webkit-box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);
box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);

}
.health-bar-right {
  width: 500px;
  height: 40px;
  border: 2px solid white;
  float: right;
  margin-top: 40px;
  border-radius: 4px;
  background-color: #F8F500;
  padding-left: 450px;
  -webkit-box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);
box-shadow: 6px 10px 38px -2px rgba(0,0,0,0.75);
}

.remain {
  width:100%;
  display: block;
  background-color: #F50104;
  height: 36px;
}
.remain2 {
  width:100%;
  display: block;
  background-color: #F50104;
  height: 36px;
}

.guile-name {
  float: right;
}

.ryu-name {
  float: left;
}

.names {
font-size: 300%;
font-family: 'mortal_kombat_2mortal_kombat';
color: #000;
}

.time {
  display: inline-block;
  position: relative;
  left: 433px;
  top: 8px;
}


.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .vs, .logo, .guile-gif {
  background-repeat: no-repeat;
}
  
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: relative;
  top: 167px;
  left: -212px;
} 

.ryu {
  float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.logo {
  background-image: url('../images/street-logo.png');
  width: 440px;
  height: 320px;
  position: relative;
  left: 410px;
  display: none;
}

.guile-gif {
  background-image: url('../images/guile.gif');
  width: 315px;
  height: 480px;
  float: right;
  margin-right: 110px;
}

#vs {
  background: url('../images/vs.jpg') center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 1400px;
  height: 650px;
  opacity: 1;
  z-index: 1;
  color: white;
  font-size: 400%;

}

.intro {
  position: relative;
  top: 500px;
  left: 300px;
}

#vs.vs-transition {
 opacity: 0;
  height: 0;
  transition: all 2s ease-out 0s;
}

.instructions {
display: none;
position: absolute;
left: 400px;
bottom: 200px;
font-size: 200%;
color: black;
line-height: 1.2;
}


